<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>お盆っぽい画像</title>
    <link rel="stylesheet" href="css/screen.css" />
</head>
<body>

    <p id="loading"><img src="img/gif-load.gif" alt="" /></p>

<script type="text/x-template" id="template-thumb">
    <a href="<%= href %>" target="_blank"><img src="<%= src %>" alt="<%= alt %>" /></a>
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>
